:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.app-container {
  width: 30%;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 30px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background: linear-gradient(to bottom right, rgba(192, 224, 235, 0.602), rgba(144, 238, 144, 0.638));
  box-shadow: 1px 1px 20px #1717172e;
}

.header {
  font-family: 'Tahoma';
  font-style: italic;
  font-weight: 800;
  color: #202020ea;
}

.control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  width: 30%;
}

.form-range {
  border-radius: 15px;
  margin-bottom: 15px;
}

.form-control {
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .app-container {
    width: 90%; 
    padding: 2em; 
  }

  .input-box {
    width: 100%; 
  }

  .form-range {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
